<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Aufbauwerk.Surfstation.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <client>
      <endpoint name="Aufbauwerk.Surfstation.Client.Session" address="net.tcp://localhost:9000/aufbauwerk/surfstation/session" binding="netTcpBinding" bindingConfiguration="Session" contract="Aufbauwerk.Surfstation.Client.ISession"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="Session">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <applicationSettings>
    <Aufbauwerk.Surfstation.Client.Properties.Settings>
      <setting name="Target" serializeAs="String">
        <value>Surfstation</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="Quality" serializeAs="String">
        <value>60</value>
      </setting>
    </Aufbauwerk.Surfstation.Client.Properties.Settings>
  </applicationSettings>
</configuration>
