<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Aufbauwerk.Surfstation.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Aufbauwerk.Surfstation.Server.Properties.Settings.Database" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\Lehrlinge.mdb;OLE DB Services=-1" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <applicationSettings>
    <Aufbauwerk.Surfstation.Server.Properties.Settings>
      <setting name="RadiusAddress" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="RadiusPort" serializeAs="String">
        <value>1812</value>
      </setting>
      <setting name="RadiusSecret" serializeAs="String">
        <value>&lt;secret&gt;</value>
      </setting>
      <setting name="ScreenshotSize" serializeAs="String">
        <value>300, 225</value>
      </setting>
      <setting name="ScreenshotFormat" serializeAs="String">
        <value>Format24bppRgb</value>
      </setting>
      <setting name="ScreenshotCleanupInterval" serializeAs="String">
        <value>00:10:00</value>
      </setting>
      <setting name="CommandInitialLogin" serializeAs="String">
        <value>SELECT [ID], [Typ] AS [State], [Timeout] FROM [Internetzugang] WHERE [Username] = @UserName AND [Passwort] = @Password</value>
      </setting>
      <setting name="CommandVerifyLogin" serializeAs="String">
        <value>SELECT COUNT(*) &gt; 0 FROM [Internetzugang] WHERE [ID] = @ID AND [Typ] = @State</value>
      </setting>
      <setting name="CommandCreateSession" serializeAs="String">
        <value>INSERT INTO [Internet](ID,Typ,Dauer,Adresse) VALUES(@ID,@State,@Duration,@Client)</value>
      </setting>
      <setting name="CommandUpdateDuration" serializeAs="String">
        <value>UPDATE [Internet] SET [Dauer] = @Duration WHERE [Sitzung] = @Session</value>
      </setting>
      <setting name="CommandUpdateScreenshot" serializeAs="String">
        <value>UPDATE [Internet] SET [Screenshot] = @Screenshot WHERE [Sitzung] = @Session</value>
      </setting>
      <setting name="CommandCleanupScreenshots" serializeAs="String">
        <value>UPDATE [Internet] SET [Screenshot] = NULL WHERE DateAdd('s',[Dauer],[Zeit]) &lt; DateAdd('s',-@Interval,Now())</value>
      </setting>
    </Aufbauwerk.Surfstation.Server.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <services>
      <service name="Aufbauwerk.Surfstation.Server.Session">
        <endpoint address="net.tcp://0.0.0.0:9000/aufbauwerk/surfstation/session" binding="netTcpBinding" bindingConfiguration="Session" contract="Aufbauwerk.Surfstation.Server.ISession"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="Session" maxReceivedMessageSize="2097152">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <!--
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SurfstationServer.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
</configuration>